<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Verificar_Login</servlet-name>
        <servlet-class>sevlets.Verificar_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Funcionario</servlet-name>
        <servlet-class>sevlets.Cadastrar_Funcionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Paciente</servlet-name>
        <servlet-class>sevlets.Cadastrar_Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Convenio</servlet-name>
        <servlet-class>sevlets.Cadastrar_Convenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Especialidade</servlet-name>
        <servlet-class>sevlets.Cadastrar_Especialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ver_Pacientes</servlet-name>
        <servlet-class>sevlets.Ver_Pacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ver_Medicos</servlet-name>
        <servlet-class>sevlets.Ver_Medicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marcar_Consulta</servlet-name>
        <servlet-class>sevlets.Marcar_Consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Triagem</servlet-name>
        <servlet-class>sevlets.Triagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consulta_Triagem</servlet-name>
        <servlet-class>sevlets.Consulta_Triagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaMedico</servlet-name>
        <servlet-class>sevlets.ConsultaMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consulta</servlet-name>
        <servlet-class>sevlets.Consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProntuarios</servlet-name>
        <servlet-class>sevlets.ListarProntuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAnamnese</servlet-name>
        <servlet-class>sevlets.ListarAnamnese</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Verificar_Login</servlet-name>
        <url-pattern>/Verificar_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Funcionario</servlet-name>
        <url-pattern>/Cadastrar_Funcionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Paciente</servlet-name>
        <url-pattern>/Cadastrar_Paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Convenio</servlet-name>
        <url-pattern>/Cadastrar_Convenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Especialidade</servlet-name>
        <url-pattern>/Cadastrar_Especialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver_Pacientes</servlet-name>
        <url-pattern>/Ver_Pacientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver_Medicos</servlet-name>
        <url-pattern>/Ver_Medicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marcar_Consulta</servlet-name>
        <url-pattern>/Marcar_Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Triagem</servlet-name>
        <url-pattern>/Triagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta_Triagem</servlet-name>
        <url-pattern>/Consulta_Triagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaMedico</servlet-name>
        <url-pattern>/ConsultaMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta</servlet-name>
        <url-pattern>/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProntuarios</servlet-name>
        <url-pattern>/ListarProntuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAnamnese</servlet-name>
        <url-pattern>/ListarAnamnese</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
